body {
    font-family: 'Montserrat', sans-serif;
}

main aside .aside-cont {
    background-color: black;
    color: grey;
    width: 17vw;
    height: 90vh;
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bianchi {
    color: white;
}

main aside .aside-cont nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main aside .aside-cont nav .tre-tasti {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

main aside .aside-cont nav .pleilist {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

footer .foot-cont {
    width: 100%;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
}

footer .foot-cont .foot-left {
    display: flex;
    gap: 1%;
}

footer .foot-cont .foot-left .brano {
    display: flex;
    align-items: center;
}

footer .foot-cont .foot-left .track-icons {
    /* text-align: center; */
    display: flex;
    align-items: center;
}

footer .foot-cont .foot-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

footer .foot-cont .foot-center .center-icons{
    display: flex;
    justify-content: center;
    gap: 25%;
    color: white;
}


footer .foot-cont .foot-center .track-bar {
    display: flex;
    align-items: center;
    gap: 5%;
    color: white;
}

footer .foot-cont .foot-center .track-bar div:nth-child(2) {
    background-color: grey;
    width: 25rem;
    height: .2rem;
}

footer .foot-cont .foot-right {
    display: flex;
}

footer .foot-cont .foot-right .icon-volume {
    color: white;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* align-content: center; */
    gap: 5%;
}

footer .foot-cont .foot-right .icon-volume div {
    background-color: grey;
    height: .2rem;
    width: 10rem;
}
